<!DOCTYPE html>
<html>
<head>
	<title>Rock Or Not</title>
	<% include head %> 
</head>
<body>
 <% include navbar %>
  <script type="text/javascript">
 	$(document).ready()=>{
 		$('.log-out-link').hide();
 	};
 </script>
   <% if(name !== undefined){ %>
    	<h1 class="text-center">Welcome, <%=name%></h1>
    <% } %>
 	<h1 class="text-center">Rock or Not</h1></span>
  	<div class="text-center">
	 	<h3><%=band.title%></h3>
		<img src="/images/<%=band.imageUrl%>"/> 
	</div>	
	<div class="text-center">
	<a href="/vote/up/<%=band.id%>"><button class="btn btn-success">Rocks</button></a>
	<a href="/vote/down/<%=band.id%>"><button class="btn btn-danger">Not</button></a>
	</div>
 	
</body>
</html> 