<!DOCTYPE html>
<html>
<head>
	<title>Standings</title>
	<% include head %>

	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
	<script type="text/javascript">
		$(document).ready(()=>{
			var $grid = $('.grid').isotope({

			});
			$('#top-rated').click(()=>{
				$grid.isotope({filter: '.top-rated'});
			});
			$('#worst-rated').click(()=>{
				$grid.isotope({filter: '.worst-rated'});
			})
			$('#all-bands').click(()=>{
				$grid.isotope({filter: ''});
			})
		});

	</script>
</head>
<body>
	<% loggedIn = true %>
	<% include navbar %>
	<div class="text-center">
		<h1>Welcome to the standings page</h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<button id="all-bands" class="btn btn-warning">All Bands</button>
				<button id="top-rated" class="btn btn-warning">Top Rated</button>
				<button id="worst-rated" class="btn btn-warning">Worst Rated</button>
			</div>
			<div class="col-sm-offset-3 col-sm-6 grid">
				<%standingsResults.map((band)=>{%>
					<div class="col-sm-12 <%=band.cls%>">
						<div class="col-sm-3">
							<img src="/images/thumbsUp.png"/>
							<%=band.upVotes%>
						</div>
						<div class="col-sm-6">
							<h3><%=band.title%></h3>
							<img src="/images/<%=band.imageUrl%>"/>
						</div>
						<div class="col-sm-3">
							<img src="/images/thumbsDown.png"/>
							<%=band.downVotes%>
						</div>
					</div>
				<%})%>
			</div>
		</div>
	</div>

</body>
</html>